
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }
  

  body {
    box-sizing: none;
    line-height: 1.9;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 300;
    opacity: 0.9;
    font-style: normal;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff; 
}
p{
  font-size: 16px;
  line-height: 1.9;
}

li{
    list-style: none;
    font-size: 16px ;
}

.main-container{
  width: 60%;
  margin: auto;
  padding-top: 150px !important;
  background-color: rgba(255,255,255,0.8);
  background-color: #efe9e912;
}

.about-main-container{
  width: 60%;
  margin: auto;
  padding:20px !important;
  background-color: #efe9e912;
}

.sub-container{
  width: 100%;
  margin: auto;
  padding: 40px 20px;
}

a{
  text-decoration: none;
  color: black;
}
.flex{
  display: flex;
  align-items: center;
}
h1{
  color: #212529 !important;
}
h2{
  color: rgb(1, 93, 142);
}


@media(max-width: 768px){
  .main-container{
    width: 100%;
    padding-top: 50px;
  }
  .sub-container{
    padding: 20px 10px;
  }
p{
  font-size: 14px;
  line-height: 1.8;
}
li{
  font-size: 14px ;
}
h1{
  font-size: 1.4rem;
}
h2{
  font-size: 1rem;
}
.about-main-container{
  width: 100%;
  padding:10px !important;
}
}