.project-container{
    width: 55%;
    margin: auto;
    padding-top:100px;
}
.project-image{
    height: 180px;
}
.project-head{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}
.card-header{
    height: 360px;
}
.project-head a {
    text-decoration: none;
    font-size: 16px;
    color: #007bff; 
    display: flex;
    align-items: center; 
    gap: 5px;
}
.project-cards{
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
}
.card{
    padding: 0px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    padding: 15px;
}


.projects-list{
    display: grid;
    grid-template-columns: repeat(3,310px);
    grid-template-rows: repeat(2,390px);
    grid-gap: 15px !important;
}
.project-title{
    color: #084c94 !important; 
    font-size: 1.2rem;
    font-weight: 700;
}
.project-details{
    margin: -10px 0 !important;
}


.project-item{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #efe9e912;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px -2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #007bff;
}
.card-header img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    gap: 5px;
}

.tech-badge {
    color: #58a6ff;
    text-align: center;
}
.read-more{
    text-decoration: none;
    color: #805ad5;
    font-weight: bold;
}
.read-more:hover{
    cursor: pointer;
    color: #007bff;
}

.card-links{
    display: flex;
    gap: 10px; 
    align-items: start;
    justify-content: start; 
    flex-wrap: nowrap;
}

.project-slider {
  margin-top: 20px;
}

/* Wrapper for each card */
.card-wrapper {
  padding: 10px;
}

.tech-stack span {
  /* display: inline-block;
  background: #eee; */
  color: #333;
  border-radius: 5px;
  margin: 3px 5px 0 0;
  font-size: 0.8rem;
  text-decoration: underline;
}

.card-links {
  margin-top: 10px;
}

/* Custom arrow styles */
.slick-prev:before, .slick-next:before {
  color: #805ad5;
  font-size: 40px;
  border-radius: 10px;
  background-color: #555;
}

@media(max-width: 768px){
    .project-container{
        width: 100%;
        margin: auto;
        padding-top:70px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .project-image{
        height: 130px;
    }
    .card-header{
        height: 200px;
    }
    .card-header img {
        width: 100%;
        height: 200px;
      }
    .project-title{
        font-size: 1.2rem;
    }
    
    .project-slider {
      margin-top: 20px;
    }
    .projects-list{
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: repeat(5,300px);
    }
    .project-item{
        padding: 10px;
    }
    .card-header img {
        height: 100px !important;
      }
    .tech-stack {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .project-title{
        background-color: red;

    }
    .project-description {
        background-color: pink;
    }
    .tech-stack{
        background-color: yellow;
     
    }

}