.project-container{
    width: 50%;
    margin: auto;
    padding-top:150px;
  
}
.project-head{
    display: flex;
    justify-content: space-between; /* Pushes items to the edges */
    align-items: center; /* Aligns items vertically */
    width: 100%;
}


.project-head a {
    text-decoration: none;
    font-size: 16px;
    color: #007bff; /* Customize link color */
    display: flex;
    align-items: center; /* Aligns text and arrow */
    gap: 5px; /* Adds spacing between text and icon */
}
.project-cards{
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-item{
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
    padding: 20px;
}
.projects-list img{
    width: 100%;
    height: 200px;
    border-radius: 0px;
}
.tech-stack {
    display: flex;
    flex-wrap: wrap;  /* Allows items to wrap onto the next line */
    width: 100%;  /* Ensure it covers the full width */
    gap: 8px;
}

.tech-badge {
  
    color: #58a6ff;
    text-align: center;
}



